.card {
    position: relative;
    display: grid;
    grid-template-columns: 10rem 1fr;
    border: 1px solid #ced4da;
    border-top: 2px solid #007bff;
    margin-bottom: 0.5rem;
    z-index: 4;
    min-width: 40rem;

    @media only screen and (max-width: 600px) {
        grid-template-columns: 1fr;
        min-width: 100%;

        div:nth-child(odd ) {
            font-weight: bold;
        }
      }

    div {
        display: flex;
        flex-wrap: nowrap;
        padding: 2px;
    }

    div:nth-child( odd ) {
        background-color: #c1c1c1;
        font-weight: bold;
    }

    .truncate {
        display: block;
        max-width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
}